src/WebService/Client/Service References/MyHttps/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://baur.im:62062/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="FindSimilar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="juice" nillable="true" type="q1:JuiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSimilarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="FindSimilarResult" nillable="true" type="q2:ArrayOfJuiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>