src/WebService/Client/Service References/DatabaseService/Database2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JuiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JuiceInfo" nillable="true" type="tns:JuiceInfo" />
  <xs:complexType name="ArrayOfJuiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JuiceInfo" nillable="true" type="tns:JuiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJuiceInfo" nillable="true" type="tns:ArrayOfJuiceInfo" />
</xs:schema>