src/UsageExamples/ExampleAlpha/Client/Service References/ServiceAlpha/ExampleAlpha1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5580/ExampleAlpha?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="SendReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="report" nillable="true" type="q1:WeatherReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendReportResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastReportByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastReportByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetLastReportByLocationResult" nillable="true" type="q2:WeatherReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>