src/UsageExamples/ExampleAlpha/Client/Service References/ServiceAlpha/ExampleAlpha2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Humidity" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pressure" type="xs:double" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="WindDirection" type="xs:double" />
      <xs:element minOccurs="0" name="WindSpeed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherReport" nillable="true" type="tns:WeatherReport" />
</xs:schema>